.section1
    img.section1__img(src='src/section1.jpg')
.section2 
    h6.section2__subtitle Your Studio
    h1.section2__title Simplify
    .section2__screen1 
        .screen1__phone-warpper
            .screen1__phone
                .screen1__mock
                .screen1__screen1
                .screen1__screen2
        ul.screen1__list 
            li.screen1__list__li
                .screen1__li__icon
                .screen1__li__title Manage Your Staff
                .screen1__li__text Add your team of stylists and manage their schedules in one place.
            li.screen1__list__li
                .screen1__li__icon
                .screen1__li__title Make Payments Convenient
                .screen1__li__text Take deposits and payments with our easy-to use point of sale system.
            li.screen1__list__li
                .screen1__li__icon
                .screen1__li__title Sell Your Products
                .screen1__li__text Clients can buy the products they need before, during, or after appointments.
    .section2__screen2 
        .screen2__phone-warpper
            .screen2__phone
                .screen2__mock
                .screen2__screen1
                .screen2__screen2
        ul.screen2__list 
            li.screen2__list__li
                .screen2__li__icon
                .screen2__li__title Promote Your Services
                .screen2__li__text Show off the services and add-ons clients can get done at your studio.
            li.screen2__list__li
                .screen2__li__icon
                .screen2__li__title Build Client Loyalty
                .screen2__li__text Make your client’s experience in your studio as comfortable as possible
            li.screen2__list__li
                .screen2__li__icon
                .screen2__li__title Get Appointment Reminders
                .screen2__li__text Get daily, weekly, or monthly reminders for your upcoming appointments.
.section3
    img.section3__img(src='src/section3.jpg')